
/*GENERAL*/

* {
  box-sizing: border-box;;
}

html, body {
  font-family: helvetica;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

h1 {
  font-size: 16px;
  margin: 0 0 5px;
}

h2 {
  font-size: 18.5px;
  font-weight: normal;
  margin:  0 0 20px;
}

h3 {
  font-size: 17px;
  font-weight: normal;
  margin: 20px 0 5px;
}

input {
  font-family: helvetica;
  font-size: 12px;
  width: 100%;
  margin: 0 0 16px;
  padding: 16px 12px;
}

input:focus {
  outline: none;
}

.container {
  max-width: 500px;
  margin: 0 auto 120px;
  padding: 26px 28px 40px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 4px #ddd;
  border-radius: 2px;
}

/*HEADER*/

header {
  text-align: center;
  padding: 26px 20px 70px;
}

/*SEARCH*/

.search .search-results-holder {
  font-size: 12px;
}

.search-results-holder .name-card {
  text-align: left;
  margin-bottom: 10px;
  padding: 7px 12px;
  box-shadow: 0 0 1px #aaa;
  border-radius: 2px;
}

.name-card .summary {
  font-size: 11px;
  color: #b3b3b3;
}

.name-card p {
  margin: 5px;
}

/*PROVIDER INFO MODAL*/

.provider-info-modal {
  text-align: center;
  font-size: 12px;
  max-width: 580px;
  margin: 0 auto;
  padding: 0;
  border: 2px solid blue;
  color: red;
}

.provider-info-modal .provider-data-holder {
  /*height: 400px;*/
  overflow: auto;
  margin: 0;
  padding: 0 20px;
  border: 2px solid green;
}

.provider-data-holder .data-card {
  margin: 10px 0;
  padding: 7px 12px;
  outline: 2px solid orange;
}

.data-card p {
  margin: 5px;
}
